NETWORK_STRING=avalanche:fuji
RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
AGENT_ALIAS=
AGENT_PASS=
VENDOR_ALIAS=
VENDOR_PASS=
SNOWGATE_ADDRESS=0x330390baCD665f7f79ecbafCda641B0F28be687B
DATABASE_URL="sqlite+aiosqlite:///./zero_degree.db"
DEBUG=true
SECRET_KEY=your-256-bit-secret-
IDENTITY_REGISTRY_ADDRESS=0x8004A818BFB912233c491871b3d84c89A494BD9e
USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65
ENTRYPOINT=0x0000000071727De22E5E9d8BAf0edAc6f37da032   # For Abstracting the EntryPoint from the V8 version, we will use this address as a placeholder. The actual EntryPoint logic will be handled in the application code, and this address will not be used for on-chain interactions.
ENTRYPOINTV8=0x4337084d9e255ff0702461cf8895ce9e3b5ff108
STATE_FILE=state.json
ZERO_DEGREE_REGISTRY_ADDRESS=0xe363BA26e54DAAf3C6a307696EE8d69BEbf13c02
ROUTESCAN_API=https://api.routescan.io/v2/network/testnet/evm/43113/etherscan/api